<?xml version="1.0" encoding="utf-8" ?>
<configuration LoaderConfig="disc4_loader_config_201304" Disc_Source="OctoSAM">

    <Connection Type="MSSQLSERVER">
        <Property Name="Data Source" Value="localhost"/>
        <Property Name="Initial Catalog" Value="OctoSAM"/>
        <Property Name="Persist Security Info" Value="True"/>
        <Property Name="User ID" Value=""/>
        <Property Name="Password" Value=""/>
        <Property Name="Integrated Security" Value="true"/>
    </Connection>

    <Tables>
        <!--
<Table Type="ProductFileInfo">
<SQL>
<![CDATA[
				SELECT DISTINCT
					  FILEINFO_IDN as FileID,
					  FILENAME as FileName,
					  TITLE as FileDescription,
					  VERSION as FileVersion,
					  FILESIZE as FileSize,
					  VENDOR as CompanyName,
					  TITLE as ProductName,
					  VERSION as ProductVersion, 
					  null as ProductLanguage
				FROM FILEINFO
				WHERE FILENAME LIKE '%.EXE'
		]]>
</SQL>
</Table>
<Table Type="SystemSoftwareFile">
<SQL>
<![CDATA[
				SELECT DISTINCT 
					  FILEINFOINSTANCE.COMPUTER_IDN as ResourceID,
					  FILEINFOINSTANCE.FILEINFO_IDN as FileID,
					  null as InstallDate
				FROM FILEINFOINSTANCE
				INNER JOIN (
					SELECT COMPUTER_IDN FROM COMPUTER
				)T ON T.COMPUTER_IDN=FILEINFOINSTANCE.COMPUTER_IDN
				WHERE FILEINFOINSTANCE.PATH LIKE '%.EXE' AND FILEINFOINSTANCE.FILEINFO_IDN IS NOT NULL
		]]>
</SQL>
</Table>
	-->

        <Table Type="AddRemove">
            <SQL>
                <![CDATA[
select m.ID                                   as ResourceID
     , case
           when not try_convert(uniqueidentifier, ss.ProductCode) is null then
               ss.ProductCode
           else
               null
       end                                    as ProdID
     , replace(ss.ScanSignature, 'MSI: ', '') as DisplayName
     , ss.Publisher
     , ss.Version                             as Version
     , mss.InstallDate
from dbo.Machine                            m
    inner join dbo.MachineSoftwareSignature mss
        on mss.MachineID = m.ID
    inner join dbo.SoftwareSignature    ss
        on ss.ID = mss.SoftwareSignatureID
where m.OperatingSystemFamily = 'WIN'
      and ss.Dynamic = 0
      and ss.ScanSignature not like 'swid:%'
      and ss.ScanSignature not like 'java:%'
      and ss.ScanSignature not like 'msoc2r:%'
      and ss.ScanSignature not like 'appx:%'
      and ss.ScanSignature not like 'msvs:%'
      and ss.ScanSignature not like 'mssql:%'
				]]>
            </SQL>
        </Table>


        <Table Type="System">
            <SQL>
                <![CDATA[
select m.ID                       as ResourceID
     , m.DirectorySiteName        as AD_Site
     , coalesce(u.LoginName, '')  as User_name
     , coalesce(u.DomainName, '') as User_domain
     , m.Name                     as [Name]
     , m.DomainName               as DomainName
     , cast(m.Active as int)      as Active
     , cast(m.DeletedInDirectory as int) as Obsolete
from dbo.Machine               m
    left outer join dbo.[User] u
        on u.ID = m.MostFrequentUserID
where m.OperatingSystemFamily = 'WIN'
		]]>
            </SQL>
        </Table>

        <Table Type="GS_OPERATING_SYSTEM">
            <SQL>
                <![CDATA[

select m.ID                         as ResourceID
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'BootDevice'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )                            as BootDevice0
     , m.OperatingSystemBuild       as BuildNumber0
     , m.OperatingSystem            as Caption0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'CountryCode'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )                            as CountryCode0
     , ''                           as CSDVersion -- todo: import this from scan (OctoSAM 1.10.2)
     , m.OperatingSystemInstallDate as InstallDate0
     , 'Microsoft'                  as Manufacturer0
     , m.OperatingSystem            as [Name0]
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Locale'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )                            as OSLanguage0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'SystemDirectory'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )                            as SystemDirectory0
     , (
           select wip.IntegerValue
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'TotalVirtualMemorySize'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )                            as TotalVirtualMemorySize0
     , (
           select wip.IntegerValue
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'TotalVisibleMemorySize'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )                            as TotalVisibleMemorySize0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Version'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )                            as Version0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'WIndowsDirectory'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )                            as WindowsDirectory0
from dbo.Machine                    m
    left outer join dbo.WmiInstance wi
        on wi.MachineID = m.ID
    inner join dbo.WmiClass         wc
        on wc.ID = wi.WmiClassID
           and wc.Name = 'Win32_OperatingSystem'
where m.OperatingSystemFamily = 'WIN'


		]]>
            </SQL>
        </Table>

        <Table Type="GS_COMPUTER_SYSTEM">
            <SQL>
                <![CDATA[

select m.ID                 as ResourceID
     , m.Manufacturer       as Manufacturer0
     , m.Model              as Model0
     , m.NumberOfProcessors as NumberOfProcessors0
     , ''                   as SystemType0
from Machine m
where m.OperatingSystemFamily = 'WIN'				

		]]>
            </SQL>
        </Table>

        <Table Type="GS_X86_PC_MEMORY">
            <SQL>
                <![CDATA[

select m.ID as ResourceID
     , m.PhysicalMemory as TotalPhysicalMemory0
from Machine m
where m.OperatingSystemFamily = 'WIN';

		]]>
            </SQL>
        </Table>


        <Table Type="GS_WORKSTATION_STATUS">
            <SQL>
                <![CDATA[

select m.ID       as ResourceID
     , m.LastScan as LastHWScan
from Machine m
where m.OperatingSystemFamily = 'WIN';				

		]]>
            </SQL>
        </Table>


        <Table Type="GS_LOGICAL_DISK">
            <SQL>
                <![CDATA[

select m.ID as ResourceID
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Description'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as Description0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'FileSystem'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as FileSystem0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'FreeSpace'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as FreeSpace0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Name'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as Name0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Size'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as Size0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'VolumeName'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as VolumeName0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'VolumeSerialNumber'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as VolumeSerialNumber0
from dbo.Machine                   m
    inner join dbo.WmiInstance wi
        on wi.MachineID = m.ID
    inner join dbo.WmiClass    wc
        on wc.ID = wi.WmiClassID
where m.OperatingSystemFamily = 'WIN'
      and wc.Name = 'Win32_LogicalDisk';

		]]>
            </SQL>
        </Table>


        <Table Type="GS_PROCESSOR">
            <SQL>
                <![CDATA[

select m.ID as ResourceID
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'DeviceID'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as DeviceID
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Family'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as FileSystem0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Manufacturer'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as Manufacturer0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'MaxClockSpeed'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as MaxClockSpeed0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Name'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as Name0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'SocketDesignation'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as SocketDesignation0
from dbo.Machine               m
    inner join dbo.WmiInstance wi
        on wi.MachineID = m.ID
    inner join dbo.WmiClass    wc
        on wc.ID = wi.WmiClassID
where m.OperatingSystemFamily = 'WIN'
      and wc.Name = 'Win32_Processor';

		]]>
            </SQL>
        </Table>


        <Table Type="GS_PC_BIOS">
            <SQL>
                <![CDATA[

select m.ID               as ResourceID
     , m.Manufacturer as Manufacturer0
     , m.HardwareUniqueID as SerialNumber0
from Machine m
where m.OperatingSystemFamily = 'WIN';

		]]>
            </SQL>
        </Table>


        <Table Type="GS_NETWORK_ADAPTER_CONFIGUR">
            <SQL>
                <![CDATA[

select m.ID           as ResourceID
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'DefaultIPGateway'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )              as DefaultIPGateway0
     , cast((
                select wip.BooleanValue
                from dbo.WmiInstanceProperty        wip
                    inner join dbo.WmiClassProperty wcp
                        on wcp.ID = wip.WmiClassPropertyID
                where wip.WmiInstanceID = wi.ID
                      and wcp.Name = 'DHCPEnabled'
                      and wcp.WmiClassID = wc.ID
                      and wi.MachineID = m.ID
            ) as int) as DHCPEnabled0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'DHCPServer'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )              as DHCPServer0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'IPAddress'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )              as IPAddress0
     , cast((
                select wip.BooleanValue
                from dbo.WmiInstanceProperty        wip
                    inner join dbo.WmiClassProperty wcp
                        on wcp.ID = wip.WmiClassPropertyID
                where wip.WmiInstanceID = wi.ID
                      and wcp.Name = 'IPEnabled'
                      and wcp.WmiClassID = wc.ID
                      and wi.MachineID = m.ID
            ) as int) as IPEnabled0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'SubnetMastk'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )              as SubnetMask0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'MACAddress'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )              as MACAddress0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'ServiceName'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )              as ServiceName0
from dbo.Machine               m
    inner join dbo.WmiInstance wi
        on wi.MachineID = m.ID
    inner join dbo.WmiClass    wc
        on wc.ID = wi.WmiClassID
where m.OperatingSystemFamily = 'WIN'
      and wc.Name = 'Win32_NetworkAdapterConfiguration';

			]]>
            </SQL>
        </Table>


        <Table Type="GS_NETWORK_ADAPTER">
            <SQL>
                <![CDATA[

select m.ID as ResourceID
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'AdapterType'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as AdapterType0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Description'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as Description0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'MACAddress'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as MACAddress0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Manufacturer'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as Manufacturer0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'Name'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as Name0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'ProductName'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as ProductName0
     , (
           select wip.Value
           from dbo.WmiInstanceProperty        wip
               inner join dbo.WmiClassProperty wcp
                   on wcp.ID = wip.WmiClassPropertyID
           where wip.WmiInstanceID = wi.ID
                 and wcp.Name = 'ServiceName'
                 and wcp.WmiClassID = wc.ID
                 and wi.MachineID = m.ID
       )    as ServiceName0
from dbo.Machine               m
    inner join dbo.WmiInstance wi
        on wi.MachineID = m.ID
    inner join dbo.WmiClass    wc
        on wc.ID = wi.WmiClassID
where m.OperatingSystemFamily = 'WIN'
      and wc.Name = 'Win32_NetworkAdapter';

			]]>
            </SQL>
        </Table>
    </Tables>
</configuration>